.mainContainer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.projectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.projectsWrapper h1 {
    font-weight: 900;
    color: var(--text-seondary-color);
}

.projectsHeader {
    display: flex;
    justify-content: space-between;
}

.carouselNavWrapper {
    display: flex;
    align-items: center;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 800px) {
    .projectsWrapper {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .projectsWrapper {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .projectsWrapper {
        width: 90%;
    }
}