.projectWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.projectWrapper img {
    width: 250px;
}

.projectMainDesc {

}

.imageSection {
    display: flex;
}

.overflowGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.overflowGrid img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures images fill their space while maintaining aspect ratio */
    border-radius: 5px; /* Optional: adds rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for better visual appeal */
}

/* Responsive */
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 800px) {
    .projectWrapper {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .projectWrapper {
        width: 80%;
    }

    .imageSection {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .projectWrapper {
        width: 90%;
    }
}
